// lightMode
$text-lightMode: black;
$background-lightMode: #f0f0f0; 
$textarea-lightMode: white;

// darkMode
$text-darkMode: #d6d9db;
$background-darkMode: #121212;
$textarea-darkMode: rgb(48, 48, 48);