@import './colors';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.light {        
    color: $text-lightMode;
    background-color: $background-lightMode;
}

.dark {
    color: $text-darkMode;
    background-color: $background-darkMode;
}